/* ================================= 
  Universal Layout Styles
==================================== */

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
  font-weight: bold;
  font-family: "Barlow Condensed", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

/* ================================= 
  Base Layout Styles
==================================== */

h1,
h2 {
  font-family: "Barlow Condensed", sans-serif;
}
h1 {
  padding: 1rem;
  font-weight: bolder;
}
h2 {
  padding: 2rem;
  font-size: 1.2rem;
}
h3 {
  padding: 1rem;
  font-weight: bold;
}
header p {
  padding: 2rem;
  color: grey;
}
header img {
  padding-top: 2rem;
  width: 60%;
}
main {
  background-color: white;
}
main p {
  padding: 0px 30px 30px;
}
main img {
  width: 100%;
}
footer p {
  padding: 1rem;
  color: grey;
}
.closing {
  padding: 1rem;
}
#email {
  padding-bottom: 3rem;
}
#footer-tag {
  padding: 1rem;
}
.nav-list {
  justify-content: space-between;
}
.nav-list li {
  font-size: 1.2rem;
  width: 90%;
  padding: 1rem;
  margin: 5px auto;
  background-color: white;
  justify-content: space-between;
}

.main-nav li:hover {
  cursor: pointer;
  transition: all 0.1s linear;
  background-color: mediumaquamarine;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}

.large-screen-footer {
  display: none;
}

/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 768px) {
  .nav-list,
  .main-nav,
  .list-items,
  .flex-header,
  .portfolio-content,
  .large-screen-footer,
  .footer-nav {
    display: flex;
  }
  .nav-list ul {
    text-align: center;
  }
  .nav-list li {
    background-color: whitesmoke;
    flex-direction: row;
  }
  .flex-header {
    flex-direction: row-reverse;
  }
  .flex-header img {
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 30%;
  }
  .portfolio-content {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .main-section {
    flex-grow: 0;
    width: 40%;
  }
  .main-section img {
    width: 100%;
    height: auto;
  }
  .mobile-footer {
    display: none;
  }
  .large-screen-footer {
    justify-content: space-between;
    flex-direction: row;
  }
  .footer-name {
    font-family: "Barlow Condensed", sans-serif;
  }
  .footer li {
    padding: 0 1rem;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  body {
    max-width: 1100px;
  }
  .portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
  }
  .main-header p {
    padding: 2rem;
    line-height: 1.7;
  }
  .main-header img {
    width: 50%;
  }
  .main-section {
    flex-grow: 0;
    width: 30%;
  }
  .main-section img {
    width: 100%;
    height: auto;
  }
}
